<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Redbubble!</title>
  <style type="text/css">
    nav {
      margin: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Redbubble Coding Challenge</h1>

    <nav>
      NAV LINKS
    </nav>
  </header>
    <% (0..9).map do |index| %>
      <img src="<%= @works[index].thumbnail %>">
      <%= @works[index].make[index] %>
    <% end %>
  </body>
</html>
