<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Redbubble!</title>
  <style type="text/css">
    nav {
      margin: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Redbubble Coding Challenge</h1>

    <nav>
      NAV LINKS
    </nav>
  </header>
    <%= @works.map {|work| work.make}.first %>
  </body>
</html>
