<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Redbubble!</title>
  <style type="text/css">
    nav {
      margin: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1 style="color:red;">Redbubble Coding Challenge - Model</h1>

    <nav>
      NAV LINKS
    </nav>
  </header>
    <% (0..9).map do |index| %>
      <br>
      <img src="<%= @content[index].thumbnail %>">
      <%= @content[index].model[index] %>
    <% end %>
  </body>
</html>
